td:last-child {
  width: 30%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 5%;
}

td:first-child {
  width: 25%;
}

.card-header:hover {
  cursor: pointer;
}

.card-text {
  white-space: pre-wrap;
}
