<div id="dashboard-summary">
  <h2>Pomodoro Summary</h2>
  <div *ngIf="pomodoroSum > 0">
    <table class="table table-hover bg-light">
        <tr>
          <th scope="row">Total Pomodoros
          <td>{{pomodoroSum.toFixed(2)}}
          <th scope="row">Total Time
          <td>{{minuteSum.toFixed(2)}} minutes
    </table>
    <app-chart></app-chart>
  </div>
  <div *ngIf="pomodoroSum <= 0">
    <p>There are no pomodoros to display.</p>
  </div>
  <h2>Active Tasks</h2>
  <div *ngIf="activeTasks.length > 0">
    <div *ngFor="let task of activeTasks" class="card border-primary mb-3">
      <div class="card-header bg-primary text-white" (click)="task.displayDescription=!task.displayDescription">
        <h6 style="display: inline-block;">{{task.name}}</h6>
        <div style="float: right">
          <button (click)="archiveTask(task._id)" class="btn btn-primary btn-sm">Archive</button>
          <button (click)="editTask(task)" class="btn btn-primary btn-sm">Edit</button>
          <button (click)="deleteTask(task._id)" class="btn btn-primary btn-sm">Delete</button>
        </div>
      </div>
      <div *ngIf="task.displayDescription" class="card-body">
        <p class="card-text">{{task.description}}</p>
      </div>
      <div class="card-footer">
        <span class="badge badge-primary">{{task.total.toFixed(2)}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="activeTasks.length == 0">
    <p>There are no active tasks to display.</p>
  </div>
  <h2>Archived Tasks</h2>
  <div *ngIf="archivedTasks.length > 0">
    <div *ngFor="let task of archivedTasks" class="card border-secondary mb-3">
      <div class="card-header bg-secondary text-white" (click)="task.displayDescription=!task.displayDescription">
        <h6 style="display: inline-block;">{{task.name}}</h6>
        <div style="float: right">
          <button (click)="activateTask(task._id)" class="btn btn-secondary btn-sm">Activate</button>
          <button (click)="editTask(task)" class="btn btn-secondary btn-sm">Edit</button>
          <button (click)="deleteTask(task._id)" class="btn btn-secondary btn-sm">Delete</button>
        </div>
      </div>
      <div *ngIf="task.displayDescription" class="card-body">
        <p class="card-text">{{task.description}}</p>
      </div>
      <div class="card-footer">
        <span class="badge badge-secondary">{{task.total.toFixed(2)}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="archivedTasks.length == 0">
    <p>There are no archived tasks to display.</p>
  </div>
</div>
