/* You can add global styles to this file, and also import other style files */

body {
  background-color: #EEE;
}

div#container {
  max-width: 800px; 
  margin: 20px auto;
  background-color: white;
  box-shadow: 2px 5px #333;
}
