<div id="container" class="jumbotron bg-light">
  <h1 class="display-4">Welcome to PomodoroApp!</h1>
  <p class="lead">This is a simple application utilizing the pomodoro technique for time management.</p>
  <hr class="my-3">
  <p>The <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> is a time management method developed by Francesco Cirillo in the late 1980s. The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks.</p>
  <nav>
    <a class="btn btn-primary btn-lg btn-block" role="button" routerLink="/dashboard">Start Application</a>
  </nav>
</div>
